.ReactModalPortal>div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200 ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}
.modal{
    
    background: white;
    border: 1px solid #666;
    outline: none;
    text-align: center;
    width: 40rem;
    height: 15rem;
    
 .modal-content__wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
  
    .modal-content__title{
        color: #364051;
    }

}
 
}